*
{
  margin: 0;
  padding: 0;
}
#sidebar
{
  height: 100%;
   width: 160px;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: lightgrey;
   padding-top: 10%;
}
#sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

#sidebar a:hover {
  color: #f1f1f1;
}
/* #button{
   margin-left: 5px;
   margin-right: 5px;
  background-color:#7e42f5;
  border-radius: 10%;
}*/
iframe{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 160px;
  overflow: scroll;
}
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 18px;
}
.active, .btn:hover {
  background-color: #7e42f5;
  color: white;
}
