/* CSS Document */
h1
{
text-align:center ;
}
.salaryslip
{
margin-left:5% !important;
margin-top:5% !important;
}
table
{
border-collapse:collapse;
border-color: black;
}
th
{
	background-color:green;
	color:black; 
}
tr,th,td
{
padding:10px 70px !important;
}
.table
{
margin-left:10%;
}
p
{
margin-left:17%;
}