<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServletEmp</display-name>
    <servlet-name>loginServletEmp</servlet-name>
    <servlet-class>loginServletEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServletEmp</servlet-name>
    <url-pattern>/loginServletEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServletEmp</display-name>
    <servlet-name>LoginServletEmp</servlet-name>
    <servlet-class>LoginServletEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServletEmp</servlet-name>
    <url-pattern>/LoginServletEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServletAdmin</display-name>
    <servlet-name>LoginServletAdmin</servlet-name>
    <servlet-class>LoginServletAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServletAdmin</servlet-name>
    <url-pattern>/LoginServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServletEmp</display-name>
    <servlet-name>RegistrationServletEmp</servlet-name>
    <servlet-class>RegistrationServletEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServletEmp</servlet-name>
    <url-pattern>/RegistrationServletEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServletEmp</display-name>
    <servlet-name>LogoutServletEmp</servlet-name>
    <servlet-class>LogoutServletEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServletEmp</servlet-name>
    <url-pattern>/LogoutServletEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServletDepartment</display-name>
    <servlet-name>LoginServletDepartment</servlet-name>
    <servlet-class>LoginServletDepartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServletDepartment</servlet-name>
    <url-pattern>/LoginServletDepartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotServlet</display-name>
    <servlet-name>ForgotServlet</servlet-name>
    <servlet-class>ForgotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotServlet</servlet-name>
    <url-pattern>/ForgotServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendOTP</display-name>
    <servlet-name>SendOTP</servlet-name>
    <servlet-class>SendOTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendOTP</servlet-name>
    <url-pattern>/SendOTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendPassword</display-name>
    <servlet-name>SendPassword</servlet-name>
    <servlet-class>SendPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendPassword</servlet-name>
    <url-pattern>/SendPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendanceServlet</display-name>
    <servlet-name>AttendanceServlet</servlet-name>
    <servlet-class>AttendanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceServlet</servlet-name>
    <url-pattern>/AttendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LecturesServlet</display-name>
    <servlet-name>LecturesServlet</servlet-name>
    <servlet-class>LecturesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LecturesServlet</servlet-name>
    <url-pattern>/LecturesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LectureRedirect</display-name>
    <servlet-name>LectureRedirect</servlet-name>
    <servlet-class>LectureRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LectureRedirect</servlet-name>
    <url-pattern>/LectureRedirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateMsgServlet</display-name>
    <servlet-name>CreateMsgServlet</servlet-name>
    <servlet-class>CreateMsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateMsgServlet</servlet-name>
    <url-pattern>/CreateMsgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchResult</display-name>
    <servlet-name>FetchResult</servlet-name>
    <servlet-class>FetchResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchResult</servlet-name>
    <url-pattern>/FetchResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadMarksServlet</display-name>
    <servlet-name>UploadMarksServlet</servlet-name>
    <servlet-class>UploadMarksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadMarksServlet</servlet-name>
    <url-pattern>/UploadMarksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetMarksServlet</display-name>
    <servlet-name>SetMarksServlet</servlet-name>
    <servlet-class>SetMarksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetMarksServlet</servlet-name>
    <url-pattern>/SetMarksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadMarkServlet</display-name>
    <servlet-name>UploadMarkServlet</servlet-name>
    <servlet-class>UploadMarkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadMarkServlet</servlet-name>
    <url-pattern>/UploadMarkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadSubjectsServlet</display-name>
    <servlet-name>UploadSubjectsServlet</servlet-name>
    <servlet-class>UploadSubjectsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadSubjectsServlet</servlet-name>
    <url-pattern>/UploadSubjectsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeesServlet</display-name>
    <servlet-name>FeesServlet</servlet-name>
    <servlet-class>FeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeesServlet</servlet-name>
    <url-pattern>/FeesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeServlet</display-name>
    <servlet-name>ChangeServlet</servlet-name>
    <servlet-class>ChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeServlet</servlet-name>
    <url-pattern>/ChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSalaryServlet</display-name>
    <servlet-name>UpdateSalaryServlet</servlet-name>
    <servlet-class>UpdateSalaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSalaryServlet</servlet-name>
    <url-pattern>/UpdateSalaryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsServlet</display-name>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/NewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlacementServlet</display-name>
    <servlet-name>PlacementServlet</servlet-name>
    <servlet-class>PlacementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlacementServlet</servlet-name>
    <url-pattern>/PlacementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetentionServlet</display-name>
    <servlet-name>DetentionServlet</servlet-name>
    <servlet-class>DetentionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetentionServlet</servlet-name>
    <url-pattern>/DetentionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetentionsServlet</display-name>
    <servlet-name>DetentionsServlet</servlet-name>
    <servlet-class>DetentionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetentionsServlet</servlet-name>
    <url-pattern>/DetentionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectRegistrationServlet</display-name>
    <servlet-name>RedirectRegistrationServlet</servlet-name>
    <servlet-class>RedirectRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectRegistrationServlet</servlet-name>
    <url-pattern>/RedirectRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeServletStud</display-name>
    <servlet-name>ChangeServletStud</servlet-name>
    <servlet-class>ChangeServletStud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeServletStud</servlet-name>
    <url-pattern>/ChangeServletStud</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeServletAdmin</display-name>
    <servlet-name>ChangeServletAdmin</servlet-name>
    <servlet-class>ChangeServletAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeServletAdmin</servlet-name>
    <url-pattern>/ChangeServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServletDep</display-name>
    <servlet-name>LogoutServletDep</servlet-name>
    <servlet-class>LogoutServletDep</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServletDep</servlet-name>
    <url-pattern>/LogoutServletDep</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServletAdmin</display-name>
    <servlet-name>LogoutServletAdmin</servlet-name>
    <servlet-class>LogoutServletAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServletAdmin</servlet-name>
    <url-pattern>/LogoutServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpAttndnceServlet</display-name>
    <servlet-name>EmpAttndnceServlet</servlet-name>
    <servlet-class>EmpAttndnceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpAttndnceServlet</servlet-name>
    <url-pattern>/EmpAttndnceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadRating</display-name>
    <servlet-name>UploadRating</servlet-name>
    <servlet-class>UploadRating</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadRating</servlet-name>
    <url-pattern>/UploadRating</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>suggestionServlet</display-name>
    <servlet-name>suggestionServlet</servlet-name>
    <servlet-class>suggestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>suggestionServlet</servlet-name>
    <url-pattern>/suggestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePaidServlet</display-name>
    <servlet-name>UpdatePaidServlet</servlet-name>
    <servlet-class>UpdatePaidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePaidServlet</servlet-name>
    <url-pattern>/UpdatePaidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalaryServlet</display-name>
    <servlet-name>SalaryServlet</servlet-name>
    <servlet-class>SalaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalaryServlet</servlet-name>
    <url-pattern>/SalaryServlet</url-pattern>
  </servlet-mapping>
</web-app>